################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JameGameServer.slnx/FileContentIndex/33388aff-fadc-4477-95d2-a9c1fdb7e207.vsidx
/.vs/JameGameServer.slnx/FileContentIndex
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
