################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JameGameServer.slnx/FileContentIndex/33388aff-fadc-4477-95d2-a9c1fdb7e207.vsidx
/.vs/JameGameServer.slnx/FileContentIndex
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/.vs/JameGameServer.slnx/copilot-chat/62111708/sessions/d98689f6-a2f4-49b2-9389-457085633fdd
*.md
/.vs/CopilotSnapshots/F68986D9F4A2B2499389457085633FDD
/.vs/JameGameServer/CopilotIndices/18.4.114.215
/.vs/JameGameServer.slnx/v18
